@use './Variables.scss' as *;
@use './Mixin.scss' as *;
@use './index.scss';

.App{
    background-image: linear-gradient(to right bottom ,$pink,$darkPink);

    .container{
        @include flex($alignItems:center,$direction:column);
        width: 100%;
        min-height: 100vh;

        @media(min-width:480px)and(max-width:768px){
            width: 80%;
            margin: 0 auto;
        }
        @media(min-width:769px){
            width: 40%;
            margin: 0 auto;
        }

      
        // HEADER SECTION
        .heading{
            z-index: 1;
            width: 100%;
            color: $white;
            font-size: 2.5em;
            font-weight: 500;
            padding: 0.3em 0em;
            text-align: center;
            text-shadow: 0 0 5px $white;
        }

        // FORM SECTION
        .form{
            @include flex($alignItems:center);

            width: 95%;
            position: relative;

            &__input{
                width: 100%;
                border-radius: 1.5em;
                border: none;
                outline: none;
                padding:0.8em 3em 0.8em 0.8em;
                font-size: 1.2em;
                transition: 0.2s;
                box-shadow: 0 0 8px $grey;
                
                &:focus{
                box-shadow:  0 0 10px 1000px rgba($color: $black, $alpha: 0.4);
                }
            }

            &__btn{
                position: absolute;
                right: 0;
                z-index: 2;
                margin-right: 0.5em;
                padding: 0.3em 0.5em 0em;
                font-size: 1.2em;
                border-radius: 50%;
                border: none;
                background-color: $green;
                color: #eee;
                box-shadow: 0 0 8px $grey;
                
                &:hover{
                    background-color: $lightGreen;
                }

                &:active{
                    transform: scale(0.8);
                    box-shadow: 0 0 5px $grey;
                }
            }
        }

        // TODOS SECTION
        .todos{
            $self:".todos";
            @include flex($alignItems:center,$direction:column);

            gap: 0.7em;
            width: 95%;
            margin: 1.5em 0em 2em;

            &__item{
                @include flex($alignItems:flex-start,$justifyContent:space-between);

                border-radius: 0.1em;
                padding: 0.8em;
                width: 100%;
                background-color:rgba($color: $white, $alpha: 0.6);
                box-shadow: 0 0px 10px rgba($color: $black, $alpha: 0.6);

                #{$self}__input{
                    width: 80%;
                    padding: 0.3em 0.5em;
                    font-size: 1.2em;
                    border: none;
                    outline: none;
                    background-color: rgba($color: $white, $alpha: 0.7);
                }

                #{$self}__text{
                    padding: 0.3em 0.5em;
                    width: 80%;
                    color: rgba($color: $black, $alpha: 0.65);
                    overflow-wrap:break-word;
                    font-size: 1.2em;
                }

                #{$self}__icons{
                    align-self: flex-start;

                    @include flex($direction:column);

                    #{$self}__icon{
                        color:rgba($color: $darkPink, $alpha: 0.5);
                        margin-right: 0.1em;
                        padding: 0.3em 0.5em 0em;
                        border: 1px solid rgba($color: $white, $alpha:0);
                        border-radius: 50%;

                        &:hover,&:focus{
                            color:$darkPink;
                            transition: ease 0.2s;
                            border-color: $darkPink;
                        }

                        &:active{
                            transform: scale(0.5);
                        }
                    }
                }
            }
        }
    }
}