@use './Variables.scss' as *;
@use './Mixin.scss' as *;
@use './index.scss';

.App{
    background-image: linear-gradient(to right bottom ,$pink,$darkPink);

    .container{
        width: 100%;
        min-height: 100vh;
        @include flex($alignItems:center,$direction:column);

        @media(min-width:480px)and(max-width:768px){
            width: 80%;
            margin: 0 auto;
        }
        @media(min-width:769px){
            width: 40%;
            margin: 0 auto;
        }

        // HEADER SECTION
        .heading{
            z-index: 1;
            font-weight: 500;
            text-align: center;
            text-shadow: 0 0 5px $white;
            @include proba($width:100%,$padding:0.3em 0em,$size:$titleSize,$color:$white);
        }

        // FORM SECTION
        .form{
            width: 95%;
            position: relative;
            @include flex($alignItems:center);

            &__input{
                outline: none;
                transition: 0.2s;
                box-shadow: 0 0 8px $grey;
                @include proba($width:100%,$padding:0.8em 3em 0.8em 0.8em,$size:$textSize, $radius:1.5em,);
                
                &:focus{
                box-shadow:  0 0 10px 1000px rgba($color: $black, $alpha: 0.4);
                }
            }

            &__btn{
                position: absolute;
                right: 0;
                z-index: 2;
                margin-right: 0.5em;
                box-shadow: 0 0 8px $grey;
                @include proba($padding:$iconPadding,$size:$textSize,$radius:50%,$color:#eee, $backColor:$green,);
                
                &:hover{
                    background-color: $lightGreen;
                }

                &:active{
                    transform: scale(0.8);
                    box-shadow: 0 0 5px $grey;
                }
            }
        }

        // TODOS SECTION
        .todos{
            $self:".todos";
            gap: 0.7em;
            width: 95%;
            margin: 1.5em 0em 2em;
            @include flex($alignItems:center,$direction:column);

            // Todos item
            &__item{
                box-shadow: 0 0px 10px rgba($color: $black, $alpha: 0.6);
                @include flex($alignItems:flex-start,$justifyContent:space-between);
                @include proba($width:100%,$padding: 0.8em,$radius:0.1em,$color:#eee, $backColor:rgba($color: $white, $alpha: 0.6));

                // todos input
                #{$self}__input{
                    outline: none;
                    @include proba($width:80%,$padding: $inputPadding,$size:$textSize,$backColor: rgba($color: $white, $alpha: 0.7));
                }
                
                // todos text
                #{$self}__text{
                    overflow-wrap:break-word;
                    @include proba($width:80%,$padding: $inputPadding,$size:$textSize,$color: rgba($color: $black, $alpha: 0.65));
                }

                // todos icons
                #{$self}__icons{
                    align-self: flex-start;
                    @include flex($direction:column);

                      // todos icon
                    #{$self}__icon{                
                        margin-right: 0.1em;
                        @include proba($padding:$iconPadding,$radius:50%,$color: rgba($color: $darkPink, $alpha: 0.5));
                        border: 1px solid rgba($color: $white, $alpha:0);

                        &:hover,&:focus{
                            color:$darkPink;
                            transition: ease 0.2s;
                            border-color: $darkPink;
                        }

                        &:active{
                            transform: scale(0.5);
                        }
                    }
                }
            }
        }
    }
}