@mixin flex($alignItems:null,$justifyContent:null,$direction:null){
    display: flex;
    align-items: $alignItems;
    justify-content: $justifyContent;
    flex-direction:$direction;
};

@mixin proba($width:null,$padding:null,$size:null, $radius:null,$color:null, $backColor:null){
    width:$width;
    padding: $padding;
    font-size: $size;
    border-radius: $radius;
    color:$color;
    background-color: $backColor;
    border:none;
}


