// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');


// Color variables
$purple:#845EC2;
$mediumPurple:#B39CD0;
$lightPurple:#FBEAFF;
$darkPink:#D65DB1;
$pink:#FF6F91;
$darkOrange:#FF9671;
$orange:#FFC75F;
$yellow:#F9F871;
$green:#00C9A7;
$white:white;
$lightGrey:rgb(245, 245, 245);

// Font variables
$font:"Montserrat";

