// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');


// Color variables
$purple:#845EC2;
$pink:#E7717D;
$darkPink:#D65DB1;
$darkOrange:#FF9671;
$green:#00C9A7;
$lightGreen:#01e0bb;
$white:white;
$grey:rgb(80, 80, 80);
$black:black;

// Font variables
$font:"Montserrat";

